div.gridLayout {
  display:grid;
  grid-template-columns: 20% 80%;
  grid-gap:8px;
}

div.leftColumn {
  margin: 8px;
}

.rowChart {
  width: 100%;
}

.columnChart {
  width: 48%;
  vertical-align: top;/*Fix for different     height elements*/
  margin: 8px;
  display: inline-block;
}

.time-chart-wrapper {
  border: 1px solid lightgray;
  height: 300px;
  width: 90%;
  margin: 8px;
}

.month-chart-wrapper {
  border: 1px solid lightgray;
  height: 300px;
  width: 30%;
  margin: 8px;
}

.pie-chart-wrapper {
  border: 1px solid lightgray;
  width: 50%;
  margin: 8px;
}

.section-wrapper {
  border: 1px solid lightgray;
  margin: 8px;
  padding: 8px;
}

.btn-link-selected {
  font-weight: bold;
  color: red;
  background: none!important;
  border: none;
  padding: 0!important;
  margin: 5px;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  text-decoration: underline;
  cursor: pointer;
}

.btn-link {
  background: none!important;
  border: none;
  padding: 0!important;
  margin: 5px;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.vertical-menu {
  display: block;
  margin: 8px 0;
}

.row {
  width: 100%;
  text-align: center;
}

.column {
  text-align: center;
  width: 10%;
  vertical-align: top;/*Fix for different     height elements*/
  margin: 32px;
  display: inline-block;
  background-color: #87b5fa;
  color: #fff;
}

.budgetOk {
  text-align: center;
  width: 10%;
  vertical-align: top;/*Fix for different     height elements*/
  margin: 32px;
  display: inline-block;
  background-color: #20e0a7;
}

.budgetNok {
  text-align: center;
  width: 10%;
  vertical-align: top;/*Fix for different     height elements*/
  margin: 32px;
  display: inline-block;
  background-color: #ff4a4a;
}

.columnTitle {
  min-width: 30%;
  vertical-align: top;/*Fix for different     height elements*/
  margin: 32px;
  display: inline-block;
  color: black;
}

h2.title {
  font-size: 20px;
}

.button-upload {

  background-color: #046daa;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* CSS */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.centered-canvas {
  margin: 0 auto;
}